{% load staticfiles %}
{% load blog_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static "css/materialize.min.css" %}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static "css/highlight.css" %}"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
        .highlight{
{#            代码超框显示滚动条#}
            overflow:auto;
        }
        .realMore{
            margin-top: 20px;
        }
        .more{
            margin-top: 50px;
        }
    </style>
    <title>关于strong-ge的个人博客</title>
</head>
<body>
    <nav>
        <div class="nav-wrapper #26a69a teal lighten-1">
            <a href="/list/" class="brand-logo">&nbsp;&nbsp;&nbsp;STRONG-GE</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/list/">Artical</a></li>
                <li><a href="/time_line/">Timelines</a></li>
                <li><a href="/about/">About</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="/list/">Artical</a></li>
                <li><a href="/time_line/">Timelines</a></li>
                <li><a href="/about/">About</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row ">
            <div class="col s2" style="opacity: 0">
                a
            </div>
            <div class="col s8">
                <ul>
                    <li>
                        <div class="section">
                            <h4 class="center-align">关于本站</h4>
                                <div id="wmd-preview" class="wmd-preview"><div class="md-section-divider"></div><div class="md-section-divider"></div><blockquote data-anchor-id="cx8q" class="white-blockquote">
  <p>这是我的博客第二版。 <br>
  为什么是第二版？ <br>
  因为第一版太丑，即使这次也不怎么漂亮。 <br>
  也许明年又改了，再说吧。 <br>
  使用最常规的<code>Django</code>+<code>nginx</code>+<code>uwisg</code>的方式搭建，部署在DigtalOcean的Singapore节点上。</p>
</blockquote></div>
                        </div>
                        <div class="divider more"></div>
                    </li>
                    <li>
                        <div class="section">
                            <h4 class="center-align">关于我</h4>
                                <blockquote data-anchor-id="zonq" class="white-blockquote">
  <p>15年毕业，工作一年，修过机器，在写代码 <br>
  想去看上海大师赛～～～</p>
</blockquote>
                        </div>
                        <div class="divider more"></div>
                    </li>
                </ul>
                                <!-- 多说评论框 start -->
    <div class="ds-thread" data-thread-key="" data-title="关于" data-url="http://www.strong-ge.com/about/"></div>
<!-- 多说评论框 end -->
            </div>
            <div class="col s2">
            </div>
        </div>
    </div>
    <!--右下角小工具start-->
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large #26a69a teal lighten-1">
            <i class="material-icons">add</i>
        </a>
        <ul>
            <li><a class="btn-floating yellow darken-1"><i class="material-icons" id="format_quote">format_quote</i></a></li>
            <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
            <li><a class="btn-floating blue"><i class="material-icons" id="share">share</i></a></li>
        </ul>
    </div>
    <!--右下角小工具end-->
    <footer class="page-footer #26a69a teal lighten-1">
        <div class="container">
            <div class="row center">
                啊,我的脚,我的脚,我的脚...
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container center">
                Design By zhujq    2015--2016
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="{% static "js/jquery-1.9.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/materialize.min.js" %}"></script>
    <script>
        $(document).ready(function(){
{#            var page=2;#}
            $(".button-collapse").sideNav();
            $("#share,#format_quote").click(function(){
                Materialize.toast('敢不敢再点一次', 3000);
            });
        });
    </script>
    <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
    <script type="text/javascript">
    var duoshuoQuery = {short_name:"strong-ge"};
        (function() {
            var ds = document.createElement('script');
            ds.type = 'text/javascript';ds.async = true;
            ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
            ds.charset = 'UTF-8';
            (document.getElementsByTagName('head')[0]
             || document.getElementsByTagName('body')[0]).appendChild(ds);
        })();
        </script>
    <!-- 多说公共JS代码 end -->
</body>