{% load staticfiles %}
{% load blog_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static "css/materialize.min.css" %}"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static "css/highlight.css" %}"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
        .highlight{
{#            代码超框显示滚动条#}
            overflow:auto;
        }
        img {
            width: 100%;
        }
        .realMore{
            margin-top: 20px;
        }
        .more{
            margin-top: 50px;
        }
    </style>
    <title>strong-ge的个人博客</title>
</head>
<body>
    <nav>
        <div class="nav-wrapper #26a69a teal lighten-1">
            <a href="/list/" class="brand-logo">&nbsp;&nbsp;&nbsp;STRONG-GE</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/list/">Artical</a></li>
                <li><a href="/time_line/">Timelines</a></li>
                <li><a href="/about/">About</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="/list/">Artical</a></li>
                <li><a href="/time_line/">Timelines</a></li>
                <li><a href="/about/">About</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row ">
            <div class="col s2" style="opacity: 0">
                a
            </div>
            <div class="col s8">
                <ul>
                    {%for blog in blog_list%}
                    <li>
                        <div class="section">
                            <h4 class="center-align"><a href="/detail/{{blog.id}}/">{{blog.title}}</a></h4>
                            {%for tag in blog.tags.all%}
                                <div class="chip">
                                    {{tag.tag_name}}
                                </div>
                            {%endfor%}
                                {{ blog.content | markdown_list | safe | truncatewords_html:"30"}}
                            <a href="/detail/{{blog.id}}" class="btn-flat waves-effect waves-purple right realMore">
                                <span class="teal-text">More</span>
                            </a>
                        </div>
                        <div class="divider more"></div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col s2">
            </div>
        </div>
    </div>
    <!--右下角小工具start-->
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large #26a69a teal lighten-1">
            <i class="material-icons">add</i>
        </a>
        <ul>
            <li><a class="btn-floating yellow darken-1"><i class="material-icons" id="format_quote">format_quote</i></a></li>
            <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
            <li><a class="btn-floating blue"><i class="material-icons" id="share">share</i></a></li>
        </ul>
    </div>
    <!--右下角小工具end-->
    {% if blog_list.object_list and blog_list.paginator.num_pages > 1 %}
    <div class="container">
        <div class="row center">
            <ul class="pagination">
                {% if blog_list.has_previous %}
                    <li class=" left-align">
                        <a href="?page={{ blog_list.previous_page_number }}">
                            <i class="material-icons ">chevron_left</i>
                        </a>
                    </li>
                {% else %}
                    <li class="disabled left-align">
                        <a href="#!">
                            <i class="material-icons ">chevron_left</i>
                        </a>
                    </li>
                {% endif %}
                {% if blog_list.has_next %}
                    <li class="waves-effect right-align">
                        <a href="?page={{ blog_list.next_page_number }}">
                            <i class="material-icons ">chevron_right</i>
                        </a>
                    </li>
                {% else %}
                    <li class="disabled right-align">
                        <a href="#!">
                            <i class="material-icons ">chevron_right</i>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
    {% endif %}
    <footer class="page-footer #26a69a teal lighten-1">
        <div class="container">
            <div class="row center">
                啊,我的脚,我的脚,我的脚...
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container center">
                Design By zhujq    2015--2016
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="{% static "js/jquery-1.9.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/materialize.min.js" %}"></script>
    <script>
        $(document).ready(function(){
            $(".button-collapse").sideNav();
            $("#share,#format_quote").click(function(){
                Materialize.toast('敢不敢再点一次', 3000);
            });
{#            $("#loadMore").click(function(){#}
{#                $("#loadMore").remove();#}
{#                var html = "<img width='150' height='130' src='images/loader-meta.gif' id='gif'>";#}
{#                $("#moreContainer").append(html);#}
{#                $.ajax({#}
{#                    type: "GET",#}
{#                    url: "list.html",#}
{#                    data: {page:2},#}
{#                    dataType: "json",#}
{#                    success: function(){#}
{#                        $("#gif").remove();#}
{#                    }#}
{#                });#}
{#            });#}
        });
    </script>
</body>